<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../../css/styles.css">
</head>

<header>
<h1>SPLIT</h1>
</header>

<nav id="navbar">
	<ul>
		<li>Home</li>
		<li>Splits</li>
		<li>Messages</li>
	</ul>
</nav>
<div class="container-fluid">

<aside>
	<h3>Sidebar!</h3>
</aside>

<main>
<p>Split is currently an application to allow its developer an easy way to split all the things he shares with his roomates.</p>

<section id="welcome-bar">
	<h2>Welcome to Split!</h2>
	<h3>Would you like to:<h3>

	<button id="welcome-signin-btn" class="btn btn-primary">Sign In!</button>
	<button id="welcome-createAct-btn" class="btn btn-primary">Create an Account</button>
	<button id="welcome-guestsignin-btn" class="btn btn-primary">Continue as Guest</button>
</section>


</main>


<footer>
	<p>Copyright 2017, Denison Creations</h1>
	<ul>
		<li>Home</li>
		<li>About<li>	
		<li>Contact<li>
	<ul>	
</footer>
</div>
