html {
	height: 100%;
}
body {
	background-color:#d9ffb3;
	color:#004d00;
}

#nav-bar {
	display:inline;
}

#welcome-bar {
	text-align: center;
	background-color:#ffffff;
	border-radius: 25px;
}

#footer {
	position: relative;
	text-align: center;
}


